@model HW_06.Models.CMSPage

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" name="Id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" rows="15" class="form-control editable"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote" class="control-label"></label>
                <textarea asp-for="Quote" class="form-control editable" rows="5" cols="10"></textarea>
                <span asp-validation-for="Quote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Footer" class="control-label"></label>
                <input asp-for="Footer" class="form-control" />
                <span asp-validation-for="Footer" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h3>Images</h3>
        <form asp-action="ImageUpload" enctype="multipart/form-data">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" type="file" />
            <div class="form-group">
                <input type="submit" value="Upload Image" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}